USE [Hotel_Cesar]
GO
/****** Object:  Index [Index1]    Script Date: 26/10/2018 03:24:34 a. m. ******/
DROP INDEX [Index1] ON [dbo].[Reservaciones]
GO
/****** Object:  Index [RS_id]    Script Date: 26/10/2018 03:24:34 a. m. ******/
ALTER TABLE [dbo].[Reservaciones] DROP CONSTRAINT [RS_id]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 26/10/2018 03:24:34 a. m. ******/
DROP TABLE [dbo].[TipoPago]
GO
/****** Object:  Table [dbo].[TipoHabita]    Script Date: 26/10/2018 03:24:34 a. m. ******/
DROP TABLE [dbo].[TipoHabita]
GO
/****** Object:  Table [dbo].[Reservaciones]    Script Date: 26/10/2018 03:24:34 a. m. ******/
DROP TABLE [dbo].[Reservaciones]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 26/10/2018 03:24:34 a. m. ******/
DROP TABLE [dbo].[Pago]
GO
/****** Object:  Table [dbo].[Habitaciones]    Script Date: 26/10/2018 03:24:34 a. m. ******/
DROP TABLE [dbo].[Habitaciones]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/10/2018 03:24:34 a. m. ******/
DROP TABLE [dbo].[Cliente]
GO
USE [master]
GO
/****** Object:  Database [Hotel_Cesar]    Script Date: 26/10/2018 03:24:34 a. m. ******/
DROP DATABASE [Hotel_Cesar]
GO
/****** Object:  Database [Hotel_Cesar]    Script Date: 26/10/2018 03:24:34 a. m. ******/
CREATE DATABASE [Hotel_Cesar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel_Cesar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hotel_Cesar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_Cesar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hotel_Cesar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel_Cesar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel_Cesar]
GO
USE [Hotel_Cesar]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/10/2018 03:24:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[apellido2] [varchar](20) NULL,
	[RetailValue]  AS ([nombre]+[apellido]),
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitaciones]    Script Date: 26/10/2018 03:24:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitaciones](
	[id_Habitacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 26/10/2018 03:24:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[id_pago] [int] NOT NULL,
	[efectivo] [money] NULL,
	[Tarjeta] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservaciones]    Script Date: 26/10/2018 03:24:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservaciones](
	[id_reserva] [int] NOT NULL,
	[fechaEntrada] [datetime] NULL,
	[fechaSalida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHabita]    Script Date: 26/10/2018 03:24:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabita](
	[id_TipoHabita] [int] NOT NULL,
	[suite] [varchar](100) NULL,
	[presidencial] [image] NULL,
	[balcon] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_TipoHabita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 26/10/2018 03:24:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[id_tipoDePago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipoDePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [RS_id]    Script Date: 26/10/2018 03:24:36 a. m. ******/
ALTER TABLE [dbo].[Reservaciones] ADD  CONSTRAINT [RS_id] UNIQUE NONCLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Index1]    Script Date: 26/10/2018 03:24:36 a. m. ******/
CREATE NONCLUSTERED INDEX [Index1] ON [dbo].[Reservaciones]
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
